<html>
    <head>
        <title>me gusta los niños</title>
    </head>
<body>
<pre>
     __
   / __ )____ _____  _____/ /_  ____
  / __  / __ `/ __ \/ ___/ __ \/ __ \
 / /__/ / / // /_/ / /__/ / / / /_/ /
/_____/\__,_/_/ /_/\___/_/ /_/\____/
BananaCho v2
<bold>Just stop.</bold>

     .  o ..
     o . o o.o
          ...oo
            __[]__
         __|_o_o_o\__    <---- scouting for cheaters.
         \""""""""""/
          \. ..  . /
     ^^^^^^^^^^^^^^^^^^^^


frontend:    <a href='https://bananacho.pw'>https://bananacho.pw</a>
discord: <a href='https://discord.gg/3BdZ8nE'>https://discord.gg/3BdZ8nE</a>
source:   <a href='https://git.xii.nz/Bananacho/'>https://git.xii.nz/Bananacho/</a>


<strike>stealing all your data</strike>
</pre>
</body>
</html>